<div class="row">
  {{#each tile in aboutTiles}}
    <div {{bind-attr class=":large-4 :columns"}} >
      <img {{bind-attr src="tile.img"}} />
      <p {{bind-attr class=":step-text"}}>
      	{{tile.text}}
      </p>
    </div>
  {{/each}}
</div>
