<!--footer-->
{{#foundation-row-wrapper tagName='footer' divSubClassNames='large-12 columns'}}

  <div class="footer-wrap">
    <span class="copyright-text"> © Copyright RSVPeanut </span>
    <span class="groupgithub">
      <a href="https://github.com/remember-me">
        <img src="assets/images/groupgithub.png"/>
      </a>
    </span>
  </div>
  
{{/foundation-row-wrapper}}
