<div id="joyrideDiv">
  <div class="joyride-wrapper">
     <ol class="joyride-list" data-joyride>
       <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false;">
<!--   <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false; template:{button: '<h1>hihii</h1>'}"> -->
    <p class="headline-text"> Getting Started with RSVPeanut </p>
    <p class="headline-title"> RSVPeanut uses event data from popular event sites to create a map view of all your events. Let's get started in creating a customized itinerary. </p>
  </li>

  <li data-id="numero1" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev">
    <p class="headline-text"> Popular Events </p>
    <p class="headline-title"> View the event heatmap and see the popular events near you. </p>
  </li>

  <li data-id="numero2" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p class="headline-text"> Create Your Plan in 5 Simple Steps </p>
    <p class="headline-title"> Enter your city. Select your date. Filter by the type of events you want to go to. Save your plan by adding a title and description. </p>
  </li>

  <li data-id="numero3" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p class="headline-text"> Filter Events </p>
    <p class="headline-title"> Select what types of events you would like to attend, and watch them filter out on the map! </p>
  </li>

   <li data-id="numero4" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <p class="headline-text"> View Past Plans </p>
    <p class="headline-title"> Select the Plans button to view the past plans you have created and saved. </p>
  </li>

  <li data-button="End" data-prev-text="Prev">
    <p class="headline-text"> Map Based Events </p>
    <p class="headline-title"> RSVPeanut helps you create customized plans of things to do around town. </p>
  </li>
</ol>
  </div>
 </div>
</div>

{{yield}}