{{#learn-section}}


  <div class="large-12 columns">
    <section class="learn-section">

       <h3 {{bind-attr class=":section-title"}}> see all of your events in one place </h3>

  <center>
  	{{#link-to 'events'}}<img src="assets/images/strava-ex.jpg" class="example-image"/>{{/link-to}}
  </center>
 </section>
 </div>


{{/learn-section}}