<!-- learn more section -->
<h3 {{bind-attr class=":section-title"}}> See All Of Your Events In One Place </h3>
<center>
  <img {{bind-attr src=learnImageUrl}} {{bind-attr class=":example-image"}} />
</center>
