<!--filter-left-->
<div class="icon-bar large-vertical four-up">
  <a class="item" {{action 'selectDate'}}>
    <img src="assets/images/smallfilter.png" >
    <label>Filter</label>
  </a>
  <a class="item">
    <img src="assets/images/smallinfo.png" >
    <label>Info</label>
  </a>
</div>
{{yield}}
