<!--footer-->
{{#foundation-row-wrapper divSubClassNames='large-12 columns'}}

  <h1 class="create-title"> Create Your Plan </h1>
  <p class="create-text"> Filter Events by Location, Date and Type. Save Your Plan and Explore. </p> 

  {{yield}}
  
{{/foundation-row-wrapper}}

