<!--filter-right-->
<div class="icon-bar large-vertical four-up">
  <a class="item">
    <img src="assets/images/smallnew.png" >
    <label>Create</label>
  </a>
  <a class="item">
    <img src="assets/images/smallplan.png" >
    <label>Plans</label>
  </a>
</div>
{{yield}}
