$darkPrimaryColor:   #1976D2; // dark blue
$primaryColor:       #2196F3; // lighter dark blue
$lightPrimaryColor:  #BBDEFB; // baby blue
$textPrimaryColor:   #FFFFFF; // white
$accentColor:        #03A9F4; // accent blue color
$primaryTextColor:   #212121; // black
$secondaryTextColor: #727272; // dark gray
$dividerColor:       #B6B6B6; // light gray