$darkPrimaryColor:   #1976D2;
$primaryColor:       #2196F3;
$lightPrimaryColor:  #BBDEFB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #03A9F4;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;