@import "settings";

@import "foundation";

@import "colors";

/* INDEX PAGE */

 /* font-family: 'Raleway', sans-serif; font-weight: 100-900;*/

/* NAV and HERO SECTION */

// #main {
//   min-height: 100%;
//   margin-bottom: -200px;
// }

/* add in inspector to see the right nav height*/
// element.style {
// margin-top: -10px;
// }

#hero-image {
  height: 700px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/remember-me/rsvpeanut_styles/master/img/sxsw3.gif");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  opacity: 0.9;
 /* margin-top: -190px;*/
}


.logo-section {
  width: 100%;
  background-color: #FFFFFF;
  height: 63px;
}

.fixed-nav-bar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 63px;
  background-color: #FFFFFF;
  top: 0;
}


.logo-image {
  height: 44px;
  width: 150px;
  float: left;
  display: inline-block;
  margin-left: 34px;
  margin-top: 15px;
}


.nav-buttons {
    float: right;
    padding-right: 20px;
    display: block;
    position: relative;

}

.nav-buttons a {
  color: #0288D1;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 3.6;
  padding: 2px;
}

#signinbutton {
  border: 1px solid #0288D1;
  padding: 8px;
}

.hero-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 3em;
  // margin-top: 10px;
  padding-top: 215px;
}

.hero-text {
  text-align: center;
  font-family: "Raleway", sans-serif; 
  font-weight: 300;
  font-size: 2.6875rem;
  color: #FFFFFF;
  margin-top: 5px;
}

.hero-buttons {
  text-align: center;
  margin-top: 35px;
}

#hero-button1 {
 background-color: #B3E5FC;
 margin-right: 20px;
 color: #0288D1;
 border: 1px solid #FFFFFF;
}

#hero-button2 {
 background-color: #D3D3D3;
 color: #0288D1;
 border: 1px solid #FFFFFF;
}



/* SECTION TITLES and TEXT */


.section-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #03A9F4;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 20px;
  padding-bottom: 5px;
}

.section-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #727272;
}


/* LEARN MORE SECTION */

.learn-section {
    text-align: center;
    margin-bottom: -110px;
}

.section-title-learn {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #03A9F4;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 35px;
}


.example-image {
    /*padding-top: 70px;*/
    margin-top: 50px;
    height: 447px;
    width: 723px;

   -webkit-box-shadow: 0px 0px 70px 10px rgba(179,229,252,1);
   -moz-box-shadow: 0px 0px 70px 10px rgba(179,229,252,1);
   box-shadow: 0px 0px 70px 10px rgba(179,229,252,1);
}


/* ABOUT SECTION */

.about-section {
    // margin-top: 60px;
    margin-top: 220px;
    /*margin-bottom: -60px;*/
}


.step-text {
  line-height: 4.6;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #727272;
}

#step-icon {
  // margin-top: 60px;
  height: 75px;
}

/* TEAM SECTION */

.team-section {
  text-align: center;
/*  background-color: #d3d3d3;*/
  background-color: #B3E5FC;
  // margin-top: 200px;
  margin-top: 95px;
  padding-bottom: 40px;
}

.team-section:before {
  display: inline-block;
  content: ' ';
  vertical-align: middle;
  height: 100%;
}

#teamdisplay {
  display: inline-block;
  vertical-align: middle;
}

.teampic {
  border-radius: 999px;
  height: 200px;
  width: 200px;
  display: inline-block;
}

#testimage {
  background-color: #B3E5FC;
  width: 200px;
  height: 200px;
}

.person-name {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #0288D1;
}

.team-title {
  margin-top: -15px;
  margin-bottom: 8px;
  color: #727272;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.team-icons {
  width: 34px;
  height: 34px;
  margin-bottom: 38px;
}


/* FOOTER */

.copyright-text {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    line-height: 200px;
    float: left;
}



.groupgithub {
    line-height: 200px;
    display: inline-block;
    float: right;
}

.footer-section {
    width: 100%;
    background-color: #448AFF;
    height: 200px;
}


/* MAP PAGE */

/* turned this off for now to see how it looks on mobile */
/*#main-event {
  min-height: 100%;
  margin-bottom: -500px;
}*/

#map-container {
  margin-bottom: 50px;
  margin-top: -20px;
}

/* CREATE YOUR PLAN AND TEXT SECTION */

.create-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #03A9F4;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 20px;
}

.create-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #727272;
}

/* FILTER SECTION ABOVE MAP */

#search-row {
  list-style-type: none;
}

#search-panel {
  height: 79px;
  /*margin-left: 65px;*/
  margin-left: 46px;
}

#switch-panel {
  height: 79px;
 /* margin-left: 30px;*/
 /* margin-left: 35px;*/
  margin-left: 60px;
  margin-top: 1px;
}

.switch-text {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  float: right;
  margin-top: -31px;
  margin-right: 85px;
}

#switch-text2 {
  color: #FFFFFF;
}

.calendar {
 margin-left: 37px;
 margin-right: -53px;
}

.filter-row {
  width: 100%;
  background-color: #03A9F4;
  height: 80px;
}

.panel {
  background-color: #03A9F4;
  border: none;
}

#submit-button {
  background-color: #B3E5FC;
  font-family: "Raleway", sans-serif;
  color: #727272;
  font-weight: 600;
  height: 37px;
}


/* MAP SECTION */

.map  {
/*  margin-left: -3px;*/
  margin-left: -257px;
  width: 919px;
  margin-bottom: 50px;
}

.filter-left {
  margin-left: -15px;
  height: 100px;
}


.icon-bar.large-vertical.four-up {
  background-color: #03A9F4;
  /*height: 500px;*/
}

.switch.radius {
  margin-top: 25px;
  float: right;
}

/* FILTER BUTTON ACTIONS */

#drop2 {
  width: 200px;
  height: 350px;
}

#drop3 {
  width: 200px;
  height: 350px;
  overflow-y: scroll;
}

#drop4 {
  width: 200px;
  height: 350px;
}

.headline-text {
 font-family: "Raleway", sans-serif;
 color: #FFFFFF;
 font-weight: 600;
}

.headline-title {
 font-family: "Raleway", sans-serif;
 color: #FFFFFF;
 font-weight: 300;
}

.button.joyride-next-tip {
  background-color: #FFFFFF;
  color: #03A9F4;
}

.button.joyride-prev-tip {
  background-color: #FFFFFF;
  color: #03A9F4;
}

.joyride-close-tip {
  color: #FFFFFF !important;
}

/*.joyride-nub.top {
  color: #03A9F4 !important;
}*/

/* edited in foundation css - NEED TO EDIT on here */
/*.joyride-wrapper {
  background-color: #448AFF;
}
*/


