{{#fixed-nav-bar}}
  <div class="logo-words"> 
    {{#link-to "index"}}RSVPeanut{{/link-to}}
  
    <div class="nav-buttons">
      {{#link-to "events" class="button radius"}}Events{{/link-to}}
      {{#link-to "users" class="button radius" id="signin-button"}}Sign In{{/link-to}}
    </div>
  </div>
{{/fixed-nav-bar}}

{{outlet}}
