{{#fixed-nav-bar}}
  <div class="logo-section"> 

    {{#link-to "index"}}
      <img src="assets/images/simpletext2.png" class="logo-image"></img>
    {{/link-to}}

    <div class="nav-buttons">
      {{#link-to 'events' class="events" }}Events{{/link-to}}
      {{#anchor-link class="events" customHref='team'}}Team{{/anchor-link}}
      {{#link-to 'users'  class="events" id="signinbutton" }}Sign In{{/link-to}}
      {{#anchor-link class="events" id="signinbutton" modal="signup"}}Sign Up{{/anchor-link}}
      {{signup-modal}}
    </div>

  </div>
{{/fixed-nav-bar}}

{{outlet}}

{{footer-wrap}}


 