
<nav class="fixed-nav-bar">
<section class="container1">
  <div class="logo-words"> RSVPeanut
    <div class="nav-buttons">
      <a href="#" class="team"> Team </a>
      <a href="#" class="button radius" id="signin-button"> Sign In </a>
    </nav>
 </div>
</div>

{{outlet}}
