{{#fixed-nav-bar}}
  <div class="logo-section"> 

    {{#link-to "index"}}
      <img src="assets/images/peanutlogo.png" class="peanutlogo"></img>
    {{/link-to}}

    <div class="nav-buttons">
      {{#link-to 'events' class="button radius signin-button" }}EVENTS{{/link-to}}
      {{#link-to 'users' class="button radius signin-button" }}TEAM{{/link-to}}
      {{#link-to 'users' class="button radius signin-button" }}SIGN IN{{/link-to}}
      {{#link-to 'users' class="button radius signin-button" }}SIGN UP{{/link-to}}
    </div>

  </div>
{{/fixed-nav-bar}}

{{outlet}}
