<!--hero-->

<section class="hero">
    <section class="container2">
      <img src="assets/images/sxsw-crowd.jpg" class="hero-image" />
      <p class="hero-title"> all your events in one place </p>
      <a href="#" class="tiny button" id="signin-button"> Get Started </a>
      <a href="#" class="tiny button" id="signin-button"> Learn More </a>
    </section>
</section>
