<!--hero-->
<div class= "hero">
  <img src= "assets/images/sxsw6.png" class="hero-image" />

      <h2 class = "hero-title"> Plan Out Your Day </h2>
      <h3 class= "hero-text"> View Your Events On A Map. Check Out New Places. Explore. </h2>

 <div class="hero-buttons">
     <a href="#" class="button large" id="hero-button1"> Get Started </a>
     <a href="#" class="button large" id="hero-button2"> Learn More </a>
 </div>
</div>
